h1{
    color: blue;
}
.head{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
}
.menu{
   display: flex;
   justify-content: space-between;
    background-color: black;
    padding: 15px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #ffffff;
}
.animals{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
p{
    color: darkred;
    text-align: center;
}
body{
    margin:0px;
    background-color:#808080;
}
a:link{
    color: whitesmoke;
}
a:visited{
    color: yellowgreen;
}
.item{
    position: relative;
    
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.items:hover p{
     opacity: 1;
}
.items:hover img{
    opacity: 0.5;
}